<div class="toolbar">
  <h2>Editor Prototype</h2>
  <input placeholder="Set Title" [(ngModel)]="CurrentQuestionSet.title">
  <button (click)="saveSetAsJson()">Download Set</button>
</div>
<div class="Main">
  <div class="QuestionList">
    <h1>Current Questions</h1>
    <button (click)="addQuestion()">Add New
      Question</button>
    <div *ngFor="let question of CurrentQuestionSet.questions; index as i;"
      [class.selected]="question === ActiveQuestion" class="Question" (click)="onQuestionSelect(question)">
      <button (click)="removeQuestion(i)">X</button>
      {{question.text}}
    </div>
  </div>
  <div class="QuestionEditor">
    <h1>Edit Question</h1>
    <input [(ngModel)]="ActiveQuestion.text" placeholder="Question Text" class="QuestionTextInput"><button
      (click)="addAnswer(i)">+</button>
    <div *ngFor="let answer of ActiveQuestion.answers; index as i;">
      <button (click)="removeAnswer(i)">X</button><input placeholder="Answer goes here" [(ngModel)]="answer.value">
      <input type="checkbox" [(ngModel)]="answer.caseSensitivity" title="Enable case sensitivity">
    </div>
  </div>
</div>