h1,
h2 {
    text-align: center;
}

.Main {
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;

    input {
        padding: 8px;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
        border: none;
    }
}

.QuestionTextInput {
    width: 72%;
}

.QuestionList {
    width: 50%;
    float: left;
    display: block;
    height: 70vh;
}

.Question {
    padding: 15px;
    overflow: hidden;
}

.selected {
    background-color: yellow;
}


.QuestionEditor {
    width: 50%;
    display: block;
    float: right;
}

input[type=text] {
    width: 40%;
}

input.CorrectInput {
    width: 30%;
}

.Multiple {
    background-color: rgb(251, 255, 219);
}

.Short {
    background-color: rgb(213, 255, 241);
}