<div class="toolbar">
  <h2>Editor Prototype</h2>
  <input placeholder="Set Title" [(ngModel)]="CurrentQuestionSet.title"><button (click)="addQuestion()">Add New
    Question</button>
</div>
<div class="Main">
  <div class="QuestionList">
    <h1>Current Questions</h1>
    <div *ngFor="let question of CurrentQuestionSet.questions" [class.selected]="question === ActiveQuestion"
      class="Question" (click)="onQuestionSelect(question)">
      <button>Delete Question</button>
      {{question.text}}
    </div>
  </div>
  <div class="QuestionEditor">
    <h1>Edit Question</h1>
    <input [(ngModel)]="ActiveQuestion.text">
  </div>
</div>